<div class="section" id="contact">
  <div class="cc-contact-information" style="background-color: #dadada;">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0">
              <div class="h4 text-center title">Contacto</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0">
                      <strong>Phone</strong>
                    </p>
                    <p>+54 9 351 2357-206</p>
                    <p class="mb-0">
                      <strong>Email</strong>
                    </p>
                    <p>francobobadilla2@gmail.com</p>
                    <p class="mb-0">
                      <strong>LinkedIn</strong>
                    </p>
                    <a href="https://www.linkedin.com/in/franco-bobadilla-414634141/" target="_blank"><p>Franco Bobadilla</p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-snotify class="material"></ng-snotify>
