<div class="section first-section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Sobre mí</div>
              <p>
                Actualmente estoy cursando <b>5to año de Ingeniería de Sistemas</b> y quiero
              empezar a construir mi carrera profesional, por lo cual he iniciado mi <b>búsqueda
              laboral</b> relacionada al <b>Desarrollo de Software</b>.
              </p>
              <p>
              Durante todo el año 2019 participé en el proyecto (y futura Start-Up) <b>Pivot</b>, en
              donde me desempeñé como desarrollador y descubrí que me destaco por
              ser <b>detallista</b>, <b>organizado</b> y <b>autodidacta</b>.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Datos personales</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Nacimiento:</strong>
                </div>
                <div class="col-sm-8">14/04/1998, Córdoba Argentina</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">CUIL:</strong>
                </div>
                <div class="col-sm-8">20-41158042-4</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Estado civil:</strong>
                </div>
                <div class="col-sm-8">Soltero <i>(sin hijos)</i></div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Localidad:</strong>
                </div>
                <div class="col-sm-8">Córdoba Capital
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Disponibilidad:</strong>
                </div>
                <div class="col-sm-8">Part time <i>(mañana)</i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
