<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Educación</div>


    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2017 - 2020</p>
            <div class="h5">Ingeniería de Sistemas</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Estudiante de Ingeniería de Sistemas</div>
            <h4 class="category">Universidad Católica de Córdoba
            </h4>
            <ul>
              <li>Actualmente cursando el últmo año
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2019</p>
            <div class="h5">Ciberseguridad</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Curso optativo de Ciberseguridad</div>
            <h4 class="category">Universidad Católica de Córdoba
            </h4>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2010 - 2016</p>
            <div class="h5">Técnico Mecánico</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Secundario</div>
            <h4 class="category">Instituto Técnico Renault
            </h4>
            <ul>
              <li>
                Tercer mejor promedio
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
