<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Proyectos</div>

    <div class="row">


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/argayu.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Argentina Ayuda</h4>
              <h5 class="card-text" style="color: #545454"><b>Descripción :</b> <br/> Plataforma web para conectar
                personas que necesitan ayuda con personas dispuestas a ayudar </h5>
              <h5 class="card-text" style="color: #545454"><b>Tecnologías :</b> <br/> React, GitLab, Heroku, Maven </h5>
              <a href="https://argentinayuda.gitlab.io/argentina-ayuda-frontend/#/" target="_blank"
                 class="btn btn-primary stretched-link">Ver proyecto</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/invpro.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Invictus Project</h4>
              <h5 class="card-text" style="color: #545454"><b>Descripción :</b> <br/> Aplicación web para visualizar los eventos de Google Calendar junto con el pronóstico del tiempo </h5>
              <h5 class="card-text" style="color: #545454"><b>Tecnologías :</b> <br/> React, Heroku, Loopback </h5>
              <a href="https://invictus-project.herokuapp.com/"
                 class="btn btn-primary  stretched-link ml-2 mr-5 ">Ver Proyecto</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/bandup.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Band Up!</h4>
              <h5 class="card-text" style="color: #545454"><b>Descripción :</b> <br/> Red social mobile de músicos </h5>
              <h5 class="card-text" style="color: #545454"><b>Tecnologías :</b> <br/> Android, Java, Firebase </h5>
              <a href="https://github.com/FrancoBobadilla/Android-BandUp" class="btn btn-primary stretched-link">GitHub</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/deppip.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Deployment Pipeline</h4>
              <h5 class="card-text" style="color: #545454"><b>Descripción :</b> <br/> Trabajo práctico de un deployment pipeline para integración continua de un proyecto Maven </h5>
              <h5 class="card-text" style="color: #545454"><b>Tecnologías :</b> <br/> Travis, Maven, Docker, Codeceptjs, Heroku, JUnit </h5>
              <a href="https://github.com/FrancoBobadilla/trabajoIntegrador-IngSoft3" class="btn btn-primary stretched-link">GitHub</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
